.advantages {
  text-align: center;
}

.advantages__heading {
  display: block;
}

// .advantages__lead {}

.advantages__list {
  padding: 0;
  list-style-type: none;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.advantages__item {
  display: grid;

  &--big {
    @include outline(1px, solid, red);
    grid-column: 1 / -1;
    background-color: $color-primary;

    @media (min-width: $width-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantages__content {
  @include outline(1px, solid, red);

  @media (max-width: $width-tablet) {
    padding: 0 $width-mobile-padding;
  }

  @media (min-width: $width-tablet) {
    padding: 0 32px;
  }
}

// .advantages__title {}

// .advantages__desc {}

.advantages__image {
  display: block;
  width: 100%;
  max-height: 260px;

  @media (min-width: $width-tablet) {
    grid-column: 2 / span 2;
  }

  &--first {
    @media (min-width: $width-tablet) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }
}
