.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $color-white;
  background-color: $color-basic;

  &:hover {
    background-color: $color-btn-active;
  }

  &:active {
    color: rgba($color-white, $opacity-lnk-active);
    background-color: $color-btn-active;
  }

  &:focus-visible {
    outline: 3px solid $color-focus;
  }

  &:disabled {
    pointer-events: none;
    color: $color-white;
    background-color: $color-gray-e5;
  }
}
