// .container {

//   @include outline();

//   margin-left: auto;
//   margin-right: auto;

//   @media (max-width: $width-tablet) {
//     width: $width-mobile-content;
//   }

//   @media (min-width: $width-tablet) {
//     width: $width-tablet-content;
//   }

//   @media (min-width: $width-desktop) {
//     width: $width-desktop-content;
//   }
// }

.container {
  @include outline();
  width: calc(100vw - 36px);
  max-width: $width-desktop-content;
  margin-left: auto;
  margin-right: auto;
}
