.fieldset {
  @include outline(1px, dotted, crimson);
  position: relative;
  padding: 0;
  border: 0;
}

.fieldset__legend {
  width: 100%;
}

.fieldset__title {
  margin: 0;
  text-align: center;
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
