.fieldset {
  // @include outline(1px, dotted, crimson);
  position: relative;
  padding: 0;
  border: 0;

  @media (max-width: $width-max-mobile) {
    // Останавливаем расширение блока на контентной ширине (648px) планшетного вьюпорта,
    // иначе ширина контента дергается при переходе через брекпоинт.
    max-width: $width-tablet - 2 * $width-tablet-padding;
  }

  &--whois {
    @media (min-width: $width-tablet) {
      margin-left: 60px;
      margin-bottom: 71px;
    }

    @media (min-width: $width-pre-desktop) {
      margin-left: 80px;
    }
  }

  &--impress {
    @media (min-width: $width-tablet) {
      margin-bottom: 71px;
    }
  }

  &--contacts {
    @media (min-width: $width-tablet) {
      margin-bottom: 52px;
    }
  }

  &--sight {
    @media (min-width: $width-tablet) {
      margin-bottom: 71px;
    }
  }

  &--comments {
    display: flex;
    flex-direction: column;
  }
}

.fieldset__legend {
  padding: 0;
  width: 100%;
  margin-bottom: 18px;

  // !КОСТЫЛИЩААААА!

  .fieldset--impress & {
    margin-bottom: 23px;

    @media (min-width: $width-tablet) {
      margin-bottom: 60px;
    }

    @media (min-width: $width-pre-desktop) {
      padding-left: 80px;
    }
  }

  .fieldset--whois & {
    margin-bottom: 19px;

    @media (min-width: $width-tablet) {
      margin-bottom: 55px;
    }
  }

  .fieldset--contacts & {
    @media (min-width: $width-tablet) {
      margin-bottom: 21px;
    }

    @media (min-width: $width-pre-desktop) {
      margin-bottom: 71px;
    }
  }

  .fieldset--sight & {
    @media (min-width: $width-tablet) {
      margin-bottom: 45px;
    }
  }

  .fieldset--comments & {
    @media (min-width: $width-tablet) {
      margin-bottom: 55px;
    }
  }
}

// Список с полями фиелдсета

.fieldset__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--input {
    row-gap: 20px;
  }

  &--radio {
    row-gap: 16px;

    @media (min-width: $width-tablet) {
      row-gap: 24px;
    }
  }

  &--checkbox {
    row-gap: 27px;
  }

  // Двухстрочный - fieldset__list
  &--multirow {
    row-gap: 14px;

    @media (min-width: $width-tablet) {
      row-gap: 25px;
    }
  }

  // Контакты - fieldset__list
  .fieldset--contacts & {
    @media (min-width: $width-pre-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  // Достопримечательности - fieldset__list
  .fieldset--sight & {
    @media (min-width: $width-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: calc(100vw - 2 * 155px);
      margin: 0 auto;
      row-gap: 33px;
    }

    @media (min-width: $width-pre-desktop) {
      grid-template-columns: repeat(4, 201px);
      column-gap: 37px;
      justify-content: space-between;
      width: calc($width-pre-desktop - 2 * $width-desktop-padding);
    }
  }
}

// Элемент списка полей фиелдсета
.fieldset__item {

  // Контакты. Десктоп. Каждое нечетное поле (1-я колонка) - отступ справа.
  .fieldset--contacts &:nth-child(odd) {
    @media (min-width: $width-pre-desktop) {
      margin-right: 80px;
    }
  }

  // Достопримечательности. Планшет. Правые (четные) элеменеты на 30px влево от центра
  .fieldset--sight &:nth-child(even) {
    @media (min-width: $width-tablet) {
      margin-left: 30px;
    }

    @media (min-width: $width-pre-desktop) {
      margin: 0;
    }
  }
}
