.field {

  display: flex;

  &--multirow {
    flex-wrap: wrap;
    row-gap: 5px;

    @media (min-width: $width-tablet) {
      row-gap: 8px;
    }
  }

  &--input {
    column-gap: 15px;
    align-items: baseline;
  }

  &--select {
    // relative - чтобы спозиционировать кастомный radio-, checkbox- input
    position: relative;
    column-gap: 22px;
    align-items: center;
  }

  // Input-поля c икнонкой

  &__ico {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
    }

    &--phone::after {
      background: $color-gray-e5 url("../img/icons/icon-phone.svg") no-repeat center;
    }

    &--email::after {
      background: $color-gray-e5 url("../img/icons/icon-mail.svg") no-repeat center;
    }
  }
}

// Поля INPUT
// Для текстовых полей
.field__input {
  flex-grow: 1;
  //? Вот с этой проблемой мудохался полдня!
  //* Если width не назначить, то при малых вьюпотах инпуты не будут сжиматься и начнут
  //* выходить за границы контентной области т.к. у инпутов по умолчанию есть фиксированная ширина.
  // width: 100%;
  // * Установил 100px т.к. при десктопе подпись к полю становится двустрочной :(
  width: 100px;
  height: 58px;
  padding: 18px 22px 14px;
  border: 0;
  background-color: $color-gray-f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;

  &:hover {
    background-color: $color-gray-e5;
  }

  &:active,
  &:focus {
    background-color: $color-white;
    outline: 4px solid $color-gray-e5;
    outline-offset: -4px;
  }
}

// Для селектовых
.field__radio,
.field__checkbox {
  position: absolute;
  margin: 0;
  width: 53px;
  height: 53px;
  opacity: 0;
}

//  Поле LABEL

.field__name {

  // Подпись на всю контентную ширину в многострочном поле
  .field--multirow & {
    width: 100%;
    padding-left: 22px;

    @media (min-width: $width-pre-desktop) {
      width: auto;
      padding-left: 0;
    }
  }

  // Стилизация подписей в полях с селектами
  .field--select & {
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  // Поле имени в грид, чтобы подключить кастомное поле INPUT через псевдоєлемент
  .field__radio + &,
  .field__checkbox + & {
    display: grid;
    grid-template-columns: 53px 1fr;
    column-gap: 22px;
    align-items: center;
  }

  //* Стилизация кастомных селектов
  //* Интересный вариант решения:
  // Родителю содержащему input + label задаем display: grid - 2-е колонки - position: relative
  // Нативный инпут position: absolute и полная прозрачность. Кастомный инпут и его чекед-состояние
  // оформляем через псевдоэлементы и совмещаем их принудительно размещаея в 1-й ячейке 1-й строки.
  // Позиционирование этих псевдоэлементов нативно, т.е. static.

  .field__radio + &::before,
  .field__checkbox + &::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    content: "";
    width: 53px;
    height: 53px;
    background-color: $color-gray-f2;
  }

  .field__radio + &::before {
    border-radius: 50%;
  }

  .field__radio:checked + &::after,
  .field__checkbox:checked + &::after {
    content: "";
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .field__radio:checked + &::after {
    width: 21px;
    height: 21px;
    background-color: $color-gray-33;
    border-radius: 50%;
  }

  .field__checkbox:checked + &::after {
    width: 24px;
    height: 24px;
    // @include icon-tick("#a2a2a2");
    // background: url("../img/icons/icon-tick.svg") no-repeat center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' fill='none'%3E%3Cpath fill='%23333' d='m22.93 1.32-1.1-1.1c-.3-.3-.9-.3-1.2 0l-11.9 11.9-6.2-6.2c-.3-.3-.9-.3-1.2 0l-1.1 1.1c-.3.3-.3.9 0 1.2l7.8 7.8c.2.2.4.2.6.2.2 0 .4-.1.6-.2l13.5-13.5c.5-.3.5-.8.2-1.2Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  // Активные состояния селектов

  .field--select:hover &::before {
    background-color: $color-gray-e5;
  }

  .field--select:active &::before {
    background-color: $color-gray-d6;
  }

  .field--select:active .field__radio + &::after {
    background-color: rgba($color-gray-33, 0.3);
  }

  .field--select:active .field__checkbox + &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' fill='none'%3E%3Cpath fill='%23333' fill-opacity='0.3' d='m22.93 1.32-1.1-1.1c-.3-.3-.9-.3-1.2 0l-11.9 11.9-6.2-6.2c-.3-.3-.9-.3-1.2 0l-1.1 1.1c-.3.3-.3.9 0 1.2l7.8 7.8c.2.2.4.2.6.2.2 0 .4-.1.6-.2l13.5-13.5c.5-.3.5-.8.2-1.2Z'/%3E%3C/svg%3E");
  }

  & span {
    @media (min-width: $width-pre-desktop) {
      display: none;
    }
  }
}

.field__textarea {
  width: 100%;
  height: 160px;
  padding: 13px 22px 29px;

  @media (min-width: $width-tablet) {
    padding: 18px 22px 24px;
  }
}
