.footer {
  max-width: $width-pre-desktop;
  background-color: $color-white;
}

.footer__inner {
  display: flex;
  align-items: center;

  @media (max-width: $width-max-mobile) {
    flex-direction: column;
    padding: 29px 0 23px;
  }

  @media (min-width: $width-tablet) {
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
    padding: 36px 0;
  }
}

.footer__hashtag {
  font-size: 21px;
  color: $color-black;
  text-decoration: none;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 34px;
  }

  &:focus-visible {
    outline: 3px solid $color-focus;
  }
}

.footer__list {
  margin: 0;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 40px;
  }
}
