.form-body {
  display: grid;
  grid-auto-flow: dense;
  margin: 0 auto;
  line-height: 26px;


  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    width: calc(100vw - 2 * $width-tablet-padding);
    max-width: $width-pre-desktop - 2 * $width-desktop-padding;
  }

  // @media (min-width: $width-pre-desktop) {  }
}

.form-body__inner {
  @media (max-width: $width-max-mobile) {
    // !DEV раскоментить
    padding: 20px $width-mobile-padding 30px;
    border-top: 1px solid $color-gray-e5;

    // Убираем нижний паддинг у последнего блока
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &--full-width {
    @media (min-width: $width-tablet) {
      grid-column: 1 / -1;
    }
  }

  &--first-cell {
    @media (min-width: $width-tablet) {
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.form-body__fieldset {
  margin: 0 auto;
}

.form-body__title {
  margin: 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    text-align: left;
  }

  // Стилизация заголовка в широких ячейках
  .form-body__inner--full-width & {
    @media (min-width: $width-tablet) {
      text-align: center;
    }
  }
}

.form-body__submit {
  margin: 0;
  display: grid;

  @media (max-width: $width-max-mobile) {
    width: calc(100vw - 2 * $width-mobile-padding);
    max-width: $width-tablet - 2 * $width-tablet-padding;
    margin: 0 auto;
    margin-top: 51px;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    justify-content: space-between;
    margin-top: 58px;
  }

  & span {
    @media (max-width: $width-max-mobile) {
      display: none;
    }

    @media (min-width: $width-tablet) {
      justify-self: end;
    }
  }
}

.form-body__button {
  border: 0;
  font-family: $font-body;
  text-transform: uppercase;
  padding: 18px 33px 14px;
}
