.header {
  max-width: $width-pre-desktop;
  background-color: $color-white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $width-tablet) {
    z-index: 1;
  }

  &--nojs {
    @media (max-width: $width-max-mobile) {
      position: initial;
      transform: initial;
      display: flex;
      justify-content: center;
    }
  }
}
