.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding: 0;
  list-style-type: none;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: $color-white;
  background-color: $color-basic;
  text-decoration: none;

  &:hover {
    background-color: $color-btn-hover;
  }

  &:active {
    background-color: $color-btn-active;
  }

  &:active svg {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 3px solid $color-focus;
  }
}
