// @include outline();

//* Линия над малыми блоками с преимуществами
@mixin topline () {
  display: block;
  content: "";
  width: calc(100% - $width-mobile-padding * 2);
  margin: 0 auto;
  height: 1px;
  background-color: $color-gray-d6;
}

// DEV
//* Бордер для орієнтування!
@mixin outline ($width: 1px, $style: dotted, $color: #0f99da) {
  outline: {
    color: $color;
    width: $width;
    style: $style;
    offset: -1px;
  }
}
